@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700&display=swap');

body {
    font-family: 'Roboto', sans-serif;
    margin: 0;
    padding: 0;
    display: flex;
    align-items: center;
    justify-content: center;
}

.container {
    position: relative;
    width: 90%;
    max-width: 400px;
    padding: 40px;
    border-radius: 10px;
    margin-bottom: 200px;
}

h1 {
    text-align: center;
    font-size: 2rem;
    font-weight: 500;
    margin-bottom: 30px;
}

form {
    display: flex;
    flex-direction: column;
}

.input-field {
    position: relative;
    margin-bottom: 30px;
}

.input-field::after {
    content: attr(data-unit); 
    position: left;
    right: 0;
    top: 9px; 
    font-size: 1.5rem;
    color: #000000;
}

.input-field input {
    width:80%;
    border: 0;
    border-bottom: 1.5px solid #ddd;
    outline: 0;
    font-size: 1.3rem;
    color: #333;
    padding: 10px 0;
    background: transparent;
}

.input-field select {
    width:100%;
    border: 0;
    border-bottom: 1.5px solid #ddd;
    outline: 0;
    font-size: 1.3rem;
    color: #333;
    padding: 10px 0;
    background: transparent;
}

#result {
    position: relative;
    bottom: 20px;
    left: 50%;
    transform: translateX(-50%);
    width: 300px;
    height: 80px; 
    padding: 20px;
    border: 2px solid #000000; /* Add a border */
    border-radius: 5px;
    font-size: 1.2rem;
    color: rgb(0, 0, 0); /* Change text color for contrast */
    line-height: 1.6;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
}

#result div {
    justify-content: space-between;
    margin-bottom: 10px;
}

#result div span {
    font-weight: bold;
}

#result div:last-child {
    margin-bottom: 0;
}
