 body {
            font-family: 'Roboto', sans-serif;
            padding: 0;
            display: flex;
            align-items: center;
            justify-content: center;
            overflow: hidden;
            background-color: hsl(0, 0%, 100%); 
        }

        .container {
            position: relative;
            width: 100%;
            max-width: 400px;
            margin: 0 auto;
        }

        h1 {
            text-align: center;
            font-size: 2rem;
            font-weight: 2000;
            margin-bottom: 30px;
            color: rgb(0, 0, 0); 
        }

        form {
            display: flex;
            flex-direction: column;
        }

        .input-field {
            position: relative;
            margin-bottom: 35px;
            display: flex;
            justify-content: center;
            font-size: 1.25rem;
        }

        .input-field::after {
            content: attr(data-unit);
            position: left;
            right: 0;
            margin-top: 1.75%;
            margin-left: 2%;
            font-size: 1.25rem;
        }
    
        .input-field input {
            width: 25%;
            border: 0;
            border-bottom: 1.5px solid #ddd;
            outline: 0;
            font-size: 1.25rem;
            padding: 10px;
            background: transparent;
            text-align: center;
        }
     
        .input-field select {
            width: 55%;
            border: none; /* Minimalistic border */
            text-align: center;
            border-bottom: 1.25px solid #ddd; /* You can remove this line if you don't want a thicker bottom border */
            font-size: 1.25rem;
            color: rgb(0, 0, 0);
            padding: 10px 0;
            outline: none;
            background-color: transparent;
          }

          #result {
            position: relative;
            bottom: 20px;
            left: 50%;
            transform: translateX(-50%);
            width: 350px; /* Increase the width to accommodate the columns */
            height: 100px; /* Adjust the height if needed */
            padding: 20px;
            border: 2px solid rgb(0, 0, 0);
            border-radius: 5px;
            font-size: 1rem;
            color: rgb(0, 0, 0);
            line-height: 1.6;
            text-align: center;
            display: flex;
            flex-direction: row; /* Align the columns horizontally */
            align-items: center;
            justify-content: center;
          }
       
    
          #result p1 {
            margin-right: 35px; 
            font-size: 1.25rem;
          }
          
          #result p2 {
            margin-left: 35px; 
            font-size: 1.25rem;
          }
