@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700&display=swap');

body {
    font-family: 'Roboto', sans-serif;
    margin: 0;
    padding: 0;
    display: flex;
    align-items: center;
    justify-content: center;
}

.container {
    position: relative;
    width: 90%;
    max-width: 400px;
    padding: 40px;
    border-radius: 10px;
    margin-bottom: 200px;
}

h1 {
    text-align: center;
    font-size: 24px;
    font-weight: 500;
    margin-bottom: 30px;
}

form {
    display: flex;
    flex-direction: column;
}

.input-field {
    position: relative;
    margin-bottom: 20px;
}

.input-field::after {
    content: attr(data-unit);
    position: absolute;
    right: 0;
    top: 50%;
    transform: translateY(-50%);
    font-size: 18px;
    color: #000000;
}

.input-field input,
.input-field select {
    width: 100%;
    border: 0;
    border-bottom: 1.5px solid #ddd;
    outline: 0;
    font-size: 18px;
    color: #333;
    padding: 10px 0;
    background: transparent;
}

#result {
    position: relative;
    width: 90%;
    max-width: 400px;
    height: auto;
    padding: 20px;
    border: 2px solid #000000;
    border-radius: 5px;
    font-size: 16px;
    color: #000000;
    line-height: 1.6;
    text-align: center;
    overflow: auto;
    display: flex;
    align-items: center;
    justify-content: center;
}

#result div {
    display: flex;
    justify-content: space-between;
    margin-bottom: 10px;
}

#result div span {
    font-weight: bold;
}

#result div:last-child {
    margin-bottom: 0;
}
